.Projects {
    margin-top: 20px;
    text-align: center;
}

.Projects .search {
    margin-left: 9px;
    min-width: 50px;
    max-width: 250px;
    float: left;
}
.Projects .Controls .searchButton {
    margin-left: 10px;
    float: left;
}

.Projects .Controls .cloudButton {
    background-color: dodgerblue;
    border: dodgerblue;
    color: whitesmoke;
    float: left;
    margin-left: 10px;

}

.Projects .Controls .addButton {
    background-color: darkgreen;
    border: darkgreen;
    color: whitesmoke;

}

.Projects .Controls .removeButton {
    margin-left: 5px;

    background-color: darkred;
    border: darkred;
    color: whitesmoke;
}

.Projects .Controls .editButton {
    margin-left: 5px;

    background-color: orange;
    border: orange;
    color: whitesmoke;
}

.Projects .Controls{
    text-align: right;
}

.Projects .Controls .filterButton {
    margin-left: 10px;
    margin-right: 10px;
    width: 130px;
}

.Projects .navbar {
    margin-left: 200px;
    margin-right: 200px;
}

.Projects .panel {
    margin: 10px;
    max-width: 330px;
    float: left;
}

.Projects .deleteAlert {
    padding: 0;
    height: 50%;
}
