#controlTooltip > .tooltip-inner {
    background-color: black;
    color: white;
}

#controlTooltip > .tooltip-arrow {
    border-top: 5px solid black;
}

.Projects {
    margin-top: 20px;
    text-align: center;
}

.Projects .search {
    margin-left: 9px;
    min-width: 50px;
    max-width: 250px;
    float: left;
}

.Projects .Controls .sortButtonGroup {
    margin-left: 10px;
}

.Projects .Controls .filterButton {
    background-color: dodgerblue;
    color: whitesmoke;
    border-color: dodgerblue;
}

.Projects .Controls .filterButton:hover {
    filter: brightness(80%);
}

.Projects .Controls .joinButton {
    margin-left: 10px;
}

.Projects .Controls .searchButton {
    margin-left: 10px;
    float: left;
}

.Projects .Controls .cloudButton {
    background-color: dodgerblue;
    border: dodgerblue;
    color: whitesmoke;
    float: left;
    margin-left: 10px;
}

.Projects .Controls .cloudButton:hover {
    filter: brightness(80%);
}

.Projects .Controls .addButton {
    margin-left: 10px;

    background-color: forestgreen;
    border: forestgreen;
    color: whitesmoke;
}

.Projects .Controls .addButton:hover {
    filter: brightness(80%);
}

.Projects .Controls .removeButton {
    margin-left: 10px;

    background-color: darkred;
    border: darkred;
    color: whitesmoke;
}

.Projects .Controls .removeButton:hover {
    filter: brightness(80%);
}

.Projects .Controls .editButton {
    margin-left:10px;

    background-color: orange;
    border: orange;
    color: whitesmoke;
}

.Projects .Controls .editButton:hover {
    filter: brightness(80%);

}


.Projects .Controls .approveButton {
    margin-left:10px;

    background-color: forestgreen;
    border: forestgreen;
    color: whitesmoke;
}

.Projects .Controls .approveButton:hover {
    filter: brightness(80%);
}

.Projects .Controls{
    text-align: right;
}

.Projects .Controls .filterButton {
    margin-left: 10px;
    margin-right: 10px;
    width: 130px;
}

.Projects .navbar {
    margin-left: 200px;
    margin-right: 200px;
}

.Projects .Display .panel {
    margin: 1em;
    max-width: 23em;
    flex: 1 1 300px;
}

.Projects .Display {
    display: flex;
    flex-wrap: wrap;
}

.Projects .deleteAlert {
    padding: 0;
    height: 50%;
}
