.unapprovedMember:hover {
    background-color: dodgerblue;
    opacity: 0.3;
}

.unapprovedMember {
    background-color: lightgrey;
}

.approvedMember:hover {
    background-color: grey;
    opacity: 0.3;

}

.approvedMember {
    background-color: dodgerblue;
}


.button {
    width: 100px;
}



.members {
    text-align: center;
}
.approveIcon {
    margin-top: 5px;
    margin-left: 5px;
}