
.javaBadge {
    margin-left: 3px;
    background-color: orange;
}

.cssBadge {
    margin-left: 3px;
    background-color: hotpink;
}

.agileBadge {
    margin-left: 3px;
    background-color: aquamarine;
}