#tooltip > .tooltip-inner {
    background-color: transparent;
    color: white;
}

#tooltip > .tooltip-arrow {
    border-top: 5px solid white;
}

.memberLabel {
    margin-right: 5px;
    background-color: white;
    color: black;
}

.panel .id {
    text-align: center;
    font-size: 70%;
    color: darkgrey;
}

.panel .projectManager {
    color: black;
    background-color: white;
}

.panel .startDateLabel {
     background-color: darkgreen;
 }

.panel .endDateLabel {
    margin-top: 2px;
    background-color: darkred;
    float: right;
}

.panel .footer {
    text-align: left;
}

