
.panel .id {
    text-align: center;
    font-size: 70%;
    color: darkgrey;
}

.panel .projectManager {
    color: black;
    background-color: white;
}

.panel .footer {
    text-align: left;

}

.panel .footer .startDateLabel {
     margin-right: 100px;
     margin-bottom: 5px;
     background-color: darkgreen;
     float: left;
 }

.panel .footer .endDateLabel {
    margin-right: 100px;
    background-color: darkred;
    float: left;
}
.panel .footer .members {
    text-align: right;
}